*{
    padding: 0;
    margin:0;
    font-family: monospace;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background:url("https://avatars.mds.yandex.net/get-pdb/872807/a8d5fa98-519e-4d78-80d9-39d31b9bb6c6/s1200?webp=false")no-repeat center top/cover;
}
.window{
    width: 360px;
    height: 500px;
    padding: 80px 40px;
    background: black;
    border:1px solid blue;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 10%;
}
.window h1{
    outline: none;
    text-align: center;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-shadow: 0em 0em 5em blue,
                 0em 0em 3em blue,
                 0em 0em 2em blue,
                 1px 1px 5px blue,
                 0px 0px 10px blue,
                 0px 0px 25px blue,
                 0px 0px 45px blue;   
}
.window h1:hover{
    color:white;
    text-shadow: 0em 0em 5em red,
                 0em 0em 3em red,
                 0em 0em 2em red,
                 1px 1px 5px red,
                 0px 0px 10px red,
                 0px 0px 25px red,
                 0px 0px 45px red;   
}
.txtd{
    position: relative;
    margin: 20px 0;
    border-bottom: 2px solid blue;
    color: #fff;
}
.text{
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.txtd input{
    border:none;
    background: none;
    width:100%;
    height:30px;
    font-size: 15px;
    outline: none;   
    color:#fff;
}
.welcome{
    margin-top: 50px;
}
.loginft{
    padding:15px 120px;
    width: 300px;
    position: relative;
    border: none;
    outline: none;
    background: linear-gradient(120deg,blue,black,black);
    background-size: 200%;
    cursor: pointer;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}
.loginft:hover{
    background:linear-gradient(120deg,black,blue);
}
.bottom-text{
    text-align: center;
    margin-top: 40px;
}

.bottom-text a{
    outline: none;
    font-size: 20px;    
    color:white;
    text-shadow: 0em 0em 5em blue,
                 0em 0em 3em blue,
                 0em 0em 2em blue,
                 1px 1px 5px blue,
                 0px 0px 10px blue,
                 0px 0px 25px blue,
                 1px 1px 1px blue;   
}
.bottom-text a:hover{
color:white;
text-shadow: 0em 0em 5em red,
             0em 0em 3em red,
             0em 0em 2em red,
             1px 1px 5px red,
             0px 0px 10px red,
             0px 0px 25px red,
             0px 0px 45px red;   
}